{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<div class="secTitle">IDN File Checker</div>
<div class = "blockItem" >
  <div style="text-align: center; padding: 30px;" >
    <form method="POST" action="/result" enctype="multipart/form-data">
      <label for="myfile" style="font-size: 30px;"> Please choose the file</label>
      <p><input type="file"  accept=".txt" name="myfile"></p>
      <p><input type="submit" value="Submit"></p>

  </div>
</div>

{% endblock %}